body{
    margin: 0;
    padding: 0;
}
.top-section{
margin: 0;
padding: 0;
background-color: rgba(229, 84, 115, 0.10);

}


.pic{
    width: 610px;
    height: 800px;
  padding: 70px 80px 0px 0px;
}

.banner{

display: flex;
gap: 50px;
justify-content: space-around;
align-items: center;

}
.banner-description{
padding: 80px;
margin-bottom: 10px;

}

.banner-titel{
font-weight: 45%;
font-size: 75px;
margin-bottom: 40px;

}
.titel-description{
width: 500px;
margin-bottom: 40px;

}
.btn{
    border-radius: 5px;
background: #E55473;
border: none;
padding: 20px 43px;
color: white;
font-size: 20px;
}
.section-1titel{
    text-align: center;
    font-size: 40px;
    margin-top: 200px;
}

.section-1description{
text-align: center;
width: 500px;
margin: auto;


}

.box-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
  
}

.box-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.box-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.box-container{
display: flex;
justify-content: space-around;
margin-top: 50px;
}

.photo-1{

margin: auto;
padding: 110px 78px 0px 76px;
}
.photo-2{

margin: auto;
padding: 117px 47px 51px 47px;
}
.photo-3{

margin: auto;
padding: 67px 75px 0px 75px;
}

.underline-letter{
display: flex;
justify-content: space-around;
margin-top: 30px;

}

.section-2{
    
height: 320px;
background: rgba(39, 39, 39, 0.05);
margin:150px;

}

.halp-container{
display: flex;
justify-content: space-around;
padding: 96px 175px;
align-items: center;

}

.halp-1{
    text-align: center;
}

.hot-deal{
height: 620px;
background: rgba(229, 84, 115, 0.05)

}

.hot-container{
display: flex;
justify-content: space-around;

align-items: center;
margin: auto;


}

.btn-2{
    padding: 20px 43px;
    background: #E55473;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-top: 50px;
}
.sale-titel{

    color: #272727;

font-size: 50px;

font-weight: 800;

}

.sale-dis{
    font-size: 20px;
    width: 650px;
    margin: auto;
}

.hot-titel{

    text-align: center;
   
}

.hot-pic{
    padding: 100px;
}

#off{color: #E55473;}

.Instagram{

    text-align: center;
    font-size: 50px;
    margin-top: 128px;
}

.Instagram-dis{
text-align: center;
font-size: 20px;
width: 500px;
margin: auto;

}
.pic-4{
  display: flex;
  justify-content: center;
 gap: 30px;
margin-top: 100px;
margin-bottom: 100px;
}

.last-section{

    height: 449px;
    width: 1460px;
    margin: auto;
background-image: url(./brackgrown.png);

background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.Get-container{
padding-top: 100px;

}


.Get-the{
text-align: center;
font-size: 40px;
margin-bottom: 10px;

}

.Get-des{
    text-align: center;
    margin-bottom: 50px;
}

.Subscribe{
    text-align: center;
   display: flex;
align-items: center;
justify-content: center;


}

.Email{
    height: 20px;
width: 600px;
background: #FFF;
border: none;
padding: 22px;
margin: 10px;


}

.info-submit{
    height: 64px;
    width: 150px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;

}



